/*
	Atmosphere Pro Customization - iWinkit
	Author: Patrick Zhang;
	Author URL: patrickzhang.me;

	Template: Genesis;
	Template Version: 2.2;

	This code is to be statically included it AFTER the wp_head() entry in header.php
	to override all styles.
*/

/* Table of Contents

- General
	- Subscription
- Page: Landing Page
- Page: Support
	- Page Layout
	- Support Form
- Page: Help
- Page: Legal
- Page: Coming-Soon
- Site Footer
- Media Queries
*/



/* General;
---------------------------------------------------------------------------------------------------- */
.front-page-3{
	pointer-events: none;
}

.simple-social-icons ul li a, 
.simple-social-icons ul li a:hover {
	background-color: inherit !important;
}



/* Subscription;
------------------- */

.EMAIL-label {
	display: none;
	width: 300px !important;
}

.yikes-mailchimp-container {
	width: 475px !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

.yikes-easy-mc-email {
	height: 40px !important;
	margin-bottom: 0px !important;
	border-radius: 6px !important;
	padding: .4em !important;
	font-size: .9em !important;
}

.yikes-easy-mc-submit-button {
	width: 150px !important;
	height: 40px !important;
	float: right !important;
	display: inline-block;
	margin-top: 0px !important;
	margin-left: 5px !important;
	margin-bottom: 0px !important;
    border: 2px solid #00adef !important;
    text-align: center !important;
    padding: 0px !important;
    border-radius: 6px !important;
}

.yikes-easy-mc-submit-button:hover {
	border: 3px solid #fff !important;
	color: #00adef !important;
	background: transparent !important;
	border-radius: 6px !important;
}

/* Page: Landing Page;
---------------------------------------------------------------------------------------------------- */

.app-button-wrapper {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}

.content .front-page-1 a:hover,
.content .front-page-1 a:focus {
	border: none;
}

.app-store-badge .app-store-icon,
.app-store-badge .app-store-icon:hover{
	text-decoration: none;
	border-style: none;
}

.front-page-3 .featured-content a.alignleft .entry-image, 
.front-page-3 .featured-content a.alignright .entry-image {
	width: 100%;
}

.content .front-page-1 .widget a.button:hover {
	border: 3px solid #fff;
	background-color: #fff;
	color: #333;
}

.content .front-page-1 .widget a.button:focus {
	color: inherit;
	background-color: inherit;
}



/* Page: Support;
---------------------------------------------------------------------------------------------------- */
/* Customize Page Layout;
------------------- */

.page-id-83 .site-container .site-inner{
	padding: 10% 10%;
}

.post-83 .entry-header .entry-title{
	text-align: center;
	margin-bottom: 0px;
}

.support-business-card {
	margin-top: 30px;
	float: left;
	width: 50%;
	margin-bottom: 20px;
	min-height: 390px;
}

.support-business-card-wrapper {
	min-height: 420px;
}

.support-punchline {
	text-align: center;
	margin-bottom: 7.5%;
}


/* Support Form;
------------------- */

.ninja-forms-cont {
	width: 90%;
	border: 4px solid #2d2d2d;
	border-radius: 10px;
	padding: 60px;
	float: left;
}

input[type="submit"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.text-wrap.label-above input {
	border-radius: 5px;
}

#ninja_forms_form_7_wrap .ninja-forms-form-title {
	text-align: center;
}

.ninja-forms-form-wrap input {
	height: 41px !important;
}

.support-info-wrapper p {
	margin-bottom: 5px;
}

.support-business-card-wrapper {
	float:right;
	margin-top: 20px;
	width:50%;
}

.support-info-desktop {
	float: left;
	margin-top: 50px;
	margin-right: 5%;
	text-align: center;
}
.support-phone {
	display: inline;
	margin-right: 15px;
}
.support-email {
	display: inline;
	margin-left: 15px;
}

.support-info-wrapper {
	text-align: center;
}

/* Page: Help;
---------------------------------------------------------------------------------------------------- */
.page-id-843 .entry-title {
	text-align: center;
	margin-bottom: 5px;
}

.help-punchline {
	font-size: 16px;
	text-align: center;
}

.arconix-faq-accordion-wrap {
	font: inherit;
}

.ui-state-default, .ui-state-active {
	border: 0px;
}

.arconix-faq-accordion-title.ui-state-default {
	background: inherit;
}

.ui-widget-content {
	border: 0px;
	background: inherit;
}

.ui-widget-content a,
.arconix-faq-content a,
.arconix-faq-content a:hover,
.arconix-faq-content a:active{
	color: #00adef;
}
 

/* Page: Legal;
---------------------------------------------------------------------------------------------------- */
.page-id-781 .entry-title,
.page-id-851 .entry-title,
.page-id-933 .entry-title {
	text-align: center;
	margin-bottom: 5px;
}




/* Page: Coming-soon;
---------------------------------------------------------------------------------------------------- */
/* Hide All except for site content
------------------- */
.page-id-894.header-image .site-header{
	display: none;
}

.page-id-894 .footer-widgets,
.page-id-894 .site-footer, 
.page-id-894 .nav-tertiary {
	display: none;
}

/* Site Content Mark Up
------------------- */
.page-id-894 .site-inner {
	margin-top: 0px;
}

.page-id-894 .entry-header .entry-title {
	text-align: center;
}

/* Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	padding: 2.5% 40px 0 40px;
}

.menu-footer {
	text-align: center;
	margin-top: 0;
}



/* Media Queries
---------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 800px) {
	.yikes-mailchimp-container {
		width: 100% !important;
	}

	.EMAIL-label {
		width: 100% !important;
	}

	.yikes-easy-mc-email {
		width: 85% !important;
		max-width: 400px !important;
		height: 49px !important;
		float: none !important;
		margin-left: auto !important;
		margin-right: auto !important;
		border-radius: 6px !important;
	}

	.yikes-easy-mc-submit-button{
		width: 35% !important;
		height: 49px !important;
		border-radius: 6px !important;
		margin: 10px auto 30px auto !important;
		float: none !important;
	}

	.menu-item-749 {
		background-color: #000;      
		color: #fff;                 
		border: 2px solid #00adef; 
	}
	
	.nav-primary li.highlight > a:hover {
		background-color: #000;
		border: 2px solid #ddd;
		color: #00adef;
	}
	.nav-primary li.highlight > a:focus {
		background-color: #000;
		border: 2px solid #00adef;
		color: #fff;
	}

	.ninja-forms-cont {
		width: 100%;
		padding: 10%;
		margin-bottom: 20px;
	}

	.list-radio-wrap.label-left label, 
	.list-radio-wrap.label-left ul, 
	.list-radio-wrap.label-left ul li, 
	.list-radio-wrap.label-right label, 
	.list-radio-wrap.label-right ul, 
	.list-radio-wrap.label-right ul li, 
	.list-checkbox-wrap.label-left label, 
	.list-checkbox-wrap.label-left ul, 
	.list-checkbox-wrap.label-left ul li, 
	.list-checkbox-wrap.label-right label, 
	.list-checkbox-wrap.label-right ul, 
	.list-checkbox-wrap.label-right ul li {
		clear: left;
	}

	.support-business-card-wrapper {
		width: 100%;
	}

	.support-business-card {
		margin: 10px auto;
		width: 100%;
	}

	.support-phone, .support-email {
		display: block;
		margin-right: 0px;
		margin-right: 0px;
	}
}